@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Script MT'; font-size:60px; font-weight:bold;">Welcome To  MVC Watches App</h1>
</div>


<img src="~/img/Watch1.png" alt="Watch" /><img src="~/img/Watch2.jpg" alt="Watch2" /><img src="~/img/Watch3.jpg" alt="Watch3" /><img src="~/img/Watch4.jpg" alt="watch4" />